*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body
{
	background: url('../svg/cobaHeader.svg') no-repeat;
    background-size: cover;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#ff00f9, #ff5e03);
    background-image: -webkit-linear-gradient(#ff00f9, #ff5e03);
    background-image: -moz-linear-gradient(#ff00f9, #ff5e03);
    background-image: -o-linear-gradient(#ff00f9, #ff5e03);
    background-image: -ms-linear-gradient(#ff00f9, #ff5e03);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff00f9;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff00f9;
}
::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #ff00f9;
}
::selection {
    color: #ffffff; 
    background: #ff00f9;
}
@media only screen and (min-width: 1280px) {
    .sub-wrapper{
        position: absolute;
        top: 56% !important;
    }
    footer{
        position: absolute;
        top: 158% !important;
    }
}
@media only screen and (min-width: 1024px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    nav ul{
      margin: 0 200px 0 0;
    }
}
/* Tablet */
@media only screen and (min-width: 768px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
/* Tablet */
@media only screen and (min-width: 320px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}
@media screen and (max-width: 320px) {
    .article-wrapper p{
        transform: translateY(-8%);
        font-size: 14px;
        width: 97%;
    }
    .article-wrapper a{
        position: absolute;
        min-width: 40% !important;
        transform: translateX(-5%);
        font-size: 12px;
    }
    .thumbnail{
        width: 225px;
    }
    .sub-wrapper{
        margin-top: -20% !important;
    }
    footer{
        margin-top: 32% !important;
    }
    .footer-nav{
        margin-left: -25%;
    }
    .copyright p{
        font-size: 12px;
    }
}
@media screen and (max-width: 375px) {
    .sub-wrapper{
        margin-top: 65%;
    }
    footer{
        margin-top: 67%;
    }
}
@media screen and (max-width: 425px) {
    .article-wrapper h2{
        font-size: 16px;
    }
    .article-wrapper p{
        width: 95%;
        top: 300%;
        left: 0;
    }
    .article-wrapper a{
        width: 95%;
        left: 0;
    }
    .thumbnail{
        position: absolute;
        left: 1%;
    }
    .sub-wrapper{
        position: absolute;
        top: 130% !important;
    }
    .sosmed-btn{
        position: absolute;
        font-size: 12px;
        right: 0;
    }
    footer{
        position: absolute;
        top: 300% !important;
    }
}
@media screen and (max-width: 768px) {
    .thumbnail{
        width: 99%;
    }
    .web-desc-footer{
        display: none;
    }
    .sub-wrapper{
        position: absolute;
        top: 100%;
    }
}
@media screen and (max-height: 1024px) {
    .sub-wrapper{
        transform: translateY(525%);
    }
    footer{
        position: absolute;
        top: 245%;
    }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 16px;}
}
a{
    text-decoration: none;
}
.container 
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.row
{
    position: relative;
    width: 100%;
}
.row [class^="col"] 
{
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
}
.row::after
{
	content: "";
	display: table;
	clear: both;
}
/* Nav */
nav
{
    top: 0;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
  
nav ul
{
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
}
.logo{
    display: block;
    font-family: 'sans-serif';
    font-size: 1.8em;
    color: #285772;
    text-decoration: none;
    margin: 1% 0 0 5%;
    float: left;
}
.nav1, .nav2, .nav3
{
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    font-family: "open sans";
}
  
nav li a:hover,
nav li a:focus,
.menu__checkbox:hover,
.menu__checkbox:focus,
:focus
{
    border-bottom: 3px solid #FF02F7;
}   
  /* menu */
.menu 
{
    display: none;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}   
/* menu icon */  
.menu__icon
{
    cursor: pointer;
    display: block;
    float: right;
    padding: 5px 10px;
    position: relative;
    user-select: none;
}  
.hamburger 
{
    top: 0px;
    color: #ffffff;
    display: block;
    height: 3px;
    position: relative;
    width: 30px;
    z-index: 999;
}  
  /* menu checkbox */ 
.menu__checkbox
{
    opacity: 0;
}
.menu__checkbox:checked~.menu nav li a
{
    max-height: 240px;
    display: block;
    color: #FF02F7;
}  
.menu__checkbox:checked~.menu__icon 
{
    background-color: transparent;
}
  
.menu__checkbox:checked~.menu__icon .hamburger 
{
    background: transparent;
}
  
.menu__checkbox:checked~.menu__icon .hamburger:before 
{
    transform: rotate(-225deg);
}
  
.menu__checkbox:checked~.menu__icon .hamburger:after
{
    transform: rotate(225deg);
}
  
.menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:before,
.menu__checkbox:checked~.menu__icon:not(.steps) .hamburger:after 
{
    top: 0;
}  
  /* 48em = 768px */  
@media (min-width: 768px) {
    nav li {
        float: left;
    }
    #laptop{
        display: block !important;
    }
    .nav1, .nav2, .nav3 {
        padding: 20px 30px;
    }
    .menu {
        display: block;
        clear: none;
        float: right;
        max-height: none;
    }
    .menu__icon,
    .menu__checkbox,
    .hamburger {
        display: none;
    }
}
.sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    right: 0;
    background: rgb(2,0,36);
    background: -webkit-linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(255,1,250,1) 0%, rgba(255,94,3,1) 100%);
    background: -o-linear-gradient(50deg, rgba(2,0,36,1) 0%, rgba(255,1,250,1) 0%, rgba(255,94,3,1) 100%);
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(255,1,250,1) 0%, rgba(255,94,3,1) 100%);
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}  
  /* The navigation menu links */
.sidenav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #eee;
    display: block;
    transition: 0.3s;
    font-family: "open sans";
}  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover 
{
    color: #f00f87;
}
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn
{
    position: absolute;
    top: 0;
    font-size: 36px;
    color: #fff;
}
.article-wrapper{
    transform: translateY(20%);
    padding: 15px 20px;
}
.article-wrapper h2{
    font-family: 'open sans';
    color: #285772;
}
.article-wrapper p{
    position: absolute;
    font-family: 'route 159';
    color: #285772;
    line-height: 1.4;
}
.article-wrapper a{
    color: rgb(99, 99, 99);
    font-size: 12px;
}
.sub-wrapper{
    position: absolute;
    top: 110%;
    width: 100%;
    padding: 40px 0px;
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(255,0,249,0.6699054621848739) 0%, rgba(255,94,3,1) 100%);
}
.subscribe-text{
    text-align: center;
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    font-family: 'route 159';
    margin-bottom: 25px;
}
.form-wrapper{
    text-align: center;
}
.form-sub{
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-family: 'route 159';
    font-size: 16px;
}
.sub-btn{
    text-decoration: none;
    padding: 7px 15px;
    color: #FFF;
    font-family: 'route 159';
    border: 1.5px solid #FFF;
    border-radius: 5px;
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(255,0,249,0.6699054621848739) 0%, rgba(255,94,3,1) 100%);
}
footer{
    width: 100%;
    transform: translateY(165%);
    background: #EEE;
    padding: 20px 0;
}
.footer-nav{
    transform: translateX(20%);
}
.web-desc-footer{
    color: #285772;
    font-family: 'route 159';
    width: 100%;
}
.navigate{
    color: #285772;
    font-family: 'route 159';
}
.link-footer{
    color: #285772;
    font-family: 'open sans';
    text-decoration: none;
}
.sosmed-btn a{
    color: #285772;
    margin: 0 10px 0 10px;
}
.copyright{
    text-align: center;
    padding: 20px 0;
    font-family: 'open sans';
    color: #FFF;
    background: #285772;
    transform: translateY(32%);
}