body
{
	background: url('../svg/cobaHeader.svg') no-repeat;
    background-size: 100%;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#ff00f9, #ff5e03);
    background-image: -webkit-linear-gradient(#ff00f9, #ff5e03);
    background-image: -moz-linear-gradient(#ff00f9, #ff5e03);
    background-image: -o-linear-gradient(#ff00f9, #ff5e03);
    background-image: -ms-linear-gradient(#ff00f9, #ff5e03);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff00f9;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff00f9;
}
::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #ff00f9;
}
::selection {
    color: #ffffff; 
    background: #ff00f9;
}
.navbar-brand{
    font-size: 20pt;
    font-weight: 600;
    color: #285772;
}
.nav-link {
    color: #fff;
    font-size: 14pt;
    padding: 0 10px 0 10px;
}
.nav-link:hover{
    color: #fff;
    border-bottom: 3px solid #FF02F7;
}
.card-text{
    color: #285772;
}
.stretched-link{
    color: #285772;
    margin: auto;
    animation: chevron 1.5s infinite ease-in-out;
}
@keyframes chevron{
	50%{
		transform: translateY(20px);
	}
}
.hamburger{
    color:#fff;
}
.prestasi{
    background-color: #285772;
    color: #fff;
    padding: 10px 10px 10px 10px;
}
.img{
    max-width: 420px;
    max-height: 390px;
}
.img-prestasi{
    max-width: 375px;
    max-height: 375px;
}
.display-7{
    color:#ff00f9;
}
@media only screen and (max-width: 425px) {
    .img{
        text-align: center;
        width: 192px;
        height: 156px;
    }
    .img-prestasi{
        max-width: 192px;
        max-height: 150px;
    }
}
.kontak{
    width: 100%;
    color:#285772;
    background: #eee;
}
.sosmed{
    text-align: center;
}
footer{
    background-color: #285772;
}